/* use this for global css */

$color-primary: #d91c1c;
$color-secondary: #3670c7;
$color-bright: #f5f5f5;
$color-dark: #333333;
$color-darker: #222222;
$color-background: radial-gradient(circle,
        $color-darker 0%, $color-dark 50%, $color-dark 100%);

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: $color-background;

  font-family: Hexa, serif;
}

@font-face {
  font-family: "Hexa";
  src: local("Hexa"), url(../assets/Hexa.ttf) format("truetype");
}
